# Dependency directories
node_modules/
backend/node_modules/

# Build and local files for Flutter
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/build/
frontend/android/app/debug/
frontend/android/app/profile/
frontend/android/app/release/
frontend/ios/Flutter/.last_build_id

# IDEs and editors
.idea/
frontend/.idea/
*.iml
frontend/*.iml
.vscode/

# System files
.DS_Store
*.log
